<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Image of the Day</h3>
<p>
    <a th:href="@{/image}">
        Back to Image of this day
    </a>
</p>
<span th:text="${message}"></span>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Author</th>
        <th>Point evaluation</th>
        <th>Feedback</th>
        <th>Likes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="feedback : ${feedbackList}">
        <td th:text="${feedback.id}"></td>
        <td th:text="${feedback.author}"></td>
        <td th:switch="${feedback.point}">
            <span th:case="5">+5 So awesome</span>
            <span th:case="4">+4 Great</span>
            <span th:case="3">+3 Not bad</span>
            <span th:case="2">+2 Normal</span>
            <span th:case="1">+1 Bad</span>
        </td>
        <td th:text="${feedback.comment}"></td>
        <td>
            <span th:text="${feedback.votes}"></span>
            <button type="button" class="btn btn-primary"
                    th:attr="onclick=|window.location.href = '/image/' + '${feedback.id}' + '/update'|">Likes</button>
        </td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
<script th:replace="/layout :: bootstrap"></script>
</body>
</html>