<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add new Category</h3>
<p>
    <a th:href="@{/blogs}">
        Back to Categories List
    </a>
</p>
<div id="form">
    <form th:action="@{/categories/save}" th:object="${category}"
          method="POST" novalidate="novalidate" enctype="multipart/form-data">
        <input type="hidden" th:field="*{categoryId}"/>
        <div>
            <label>Category name</label>
            <input type="text" th:field="*{categoryName}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout::footer"></footer>
<script th:replace="/layout::bootstrap"></script>
</body>
</html>