<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Update Music</h3>
<p>
    <a th:href="@{/music}">
        Back to Music list
    </a>
</p>
<div id="form">
    <form th:action="@{/music/update}" th:object="${songForm}"
          method="POST" novalidate="novalidate" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{nameSong}"/>
        </div>
        <div>
            <label>Artist</label>
            <input type="text" th:field="*{artist}"/>
        </div>
        <div>
            <label>Kind Of Music</label>
            <input type="text" th:field="*{kindOfMusic}"/>
        </div>
        <div>
            <label>Path</label>
            <input type="file" th:field="*{path}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
<script th:replace="/layout :: bootstrap"></script>
</body>
</html>