<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/customers/create}">Create new customer</a>
<h1>Customers</h1>
<table border="1">
    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Information</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="customer, iter : ${customers}">
        <tr>
            <td th:text="${iter.count}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.address}"></td>
            <td><a th:href="@{/customers/{id}(id = ${customer.id})}">Show</a></td>
            <td><a th:href="@{/__${customer.id}__/update }">Edit</a></td>
            <td><a th:href="@{/delete-customer/__${customer.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>